.hero {
    max-width: 768px;
    margin: 0 auto;
    background-image:
    linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
                ),
                url('../images/max_480/Header_min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    padding: 118px 0; 
}

.hero__title {
    font-weight: 900;
    text-transform: uppercase;
    color:var(--color-white);
    font-size: 26px;
    margin-bottom: 30px;
    line-height: 42px;
}

.hero__modal {
    background: #2196F3;
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 39px;
    border-radius: 4px;
}

@media (min-device-pixel-ratio: 2) and (min-width:1200px),
    (min-resolution: 192dpi),(min-width:1200px),
    (min-resolution: 2dppx),(min-width:1200px) {
        .hero {
            background-image:
            linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),url('../images/max_1200/background_2x-min.jpg');
        }
    }



@media (min-device-pixel-ratio: 2) and (min-width:768px),
    (min-resolution: 192dpi),(min-width:768px),
    (min-resolution: 2dppx),(min-width:768px) {
        .hero {
            background-image:
            linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),url('../images/max_768/Header_2x-min.jpg');
        }
    }

@media (min-device-pixel-ratio: 2) and (min-width:480px),
    (min-resolution: 192dpi),(min-width:480px),
    (min-resolution: 2dppx),(min-width:480px) {
        .hero {
            background-image:
            linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),url('../images/max_480/Header_2x-min.jpg');
        }
    }



@media screen and (min-width: 768px) {
    .hero {
        max-width:1200px;
        margin: 0 auto;
        background-image:
        linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
        url('../images/max_768/Header.jpg');
        background-position: top;
        background-repeat: no-repeat;
        text-align: center;
        background-size: cover;
        }
    }


@media screen and (min-width: 1200px) {
    .hero {
        max-width:1600px;
        margin: 0 auto;
        background-image:
        linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
        url('../images/max_1200/background.jpg');
        background-position: top;
        background-repeat: no-repeat;
        text-align: center;
        background-size: cover;
        padding:200px 0;
        .hero__title {
            font-weight: 900;
            font-size: 44px;
            margin-bottom: 30px;
            line-height: 60px;
        }
    }
}



